
.servers
{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}

.gamemode
{
	margin-bottom: 4px;
	/* margin-bottom: 5px; */
	/* background-color: #efefef; */
	padding: 4px 20px;
	/* border-radius: 3px; */
	cursor: pointer;
	position: relative;
	height: 36px;
	overflow: hidden;
	/* background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 1%, rgb(240,240,240) 99%); */
	background-color: rgba(250, 250, 250, 0.22);
	border: solid 1px white;
	border-width: 0px 0px 0px 2px;
	-webkit-transition: padding 0.50s, border-width 0.20s, background-color 0.50s;
}

.gamemode.allgamemodes
{
	background-color: rgba(82, 157, 217, 0.22);
}

.gamemode:hover
{
	/* background-image: -webkit-linear-gradient(bottom, rgb(250,230,150) 1%, rgb(250,250,150) 99%); */
	background-color: rgba(250, 250, 250, 0.52);
	border-color: #2c87e0;
	border-width: 0px 0px 0px 4px;
	-webkit-transition: padding 0.50s, border-width 0.20s, background-color 0.50s;
}

.gamemode .name
{
	font-weight: bold;
	position: absolute;
	left: 40px;
	top: 5px;
	font-size: 20px;
	white-space: nowrap;
}

.gamemode .stats
{
	text-align: right;
	font-size: 11px;
	color: #000;
	position: absolute;
	bottom: 3px;
	left: 43px;
}

.gamemode IMG
{
	font-weight: bold;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 5px;
	top: 9px;
}

H1 small
{
	color: #888;
	font-size: 50%;
	font-weight: normal;
	padding-left: 8px;
}

.serverlist
{
	position: absolute;
	background-color: rgba(250, 250, 250, 0.52);
	padding: 10px;
	left: 40px;
	top: 50px;
	bottom: 0px;
	right: 320px;
	/* background-color: white; */
	/* padding: 10px; */
	border: 1px solid;
	border-color: #2c87e0;
	border-width: 4px 0px 0px 0px;
}




.serverlist ping, .serverlist maxplayers, .serverlist players, .serverlist map, .serverlist gamemode, .serverlist rank
{
	width: 50px;
	font-size: 11px;
	overflow: hidden;
	height: 16px;
	position: absolute;
	text-align: center;
}

.serverlist name
{
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	left: 7px;
	right: 330px;
	font-size: 13px;
}

.serverlist gamemode
{
	right: 240px;
	width: 88px;
	text-align: left;
}

.serverlist map
{
	right: 150px;
	width: 90px;
	text-align: left;
}

.serverlist players
{
	right: 115px;
	width: 48px;
}

.serverlist ping
{
	right: 5px;
	width: 32px;
}

.serverlist rank
{
	right: 40px;
	width: 64px;
}

.serverlist .server rank
{
	background-image: url( '../../img/rank1.png?1' );
}

.serverlist .server rank.rank5
{
	background-image: url( '../../img/rank5.png?1' );
}

.serverlist .server rank.rank4
{
	background-image: url( '../../img/rank4.png?1' );
}

.serverlist .server rank.rank3
{
	background-image: url( '../../img/rank3.png?1' );
}

.serverlist .server rank.rank2
{
	background-image: url( '../../img/rank2.png?1' );
}

.serverlist .server
{
	height: 16px;
	/* background-color: #E7F0FF; */
	padding: 3px;
	color: black;
	cursor: pointer;
	background-color: rgba(250, 250, 250, 0.49);
	border: 1px solid;
	border-color: white;
	border-width: 0px 0px 0px 2px;
	-webkit-transition: border-color 0.50s, border-width 0.20s, background-color 0.50s;
}

.serverlist .server:nth-child(odd)
{
	/* background-color: #F1F6FF; */
}

.serverlist .empty
{
	color: rgba(0,0,0,0.5);
}

.serverlist .missingmap map
{
	color: rgba(255,87,87,0.7);
}

.serverlist .empty players
{
	color: #daa;
}

.serverlist .server:hover
{
	background-color: rgba(250, 250, 250, 0.79);
	border-width: 0px 0px 0px 4px;
	border-color: #2c87e0;
	-webkit-transition: border-color 0.50s, border-width 0.20s, background-color 0.50s;
}

.serverlist .server:hover name
{
	left: 10px;
	-webkit-transition: left 0.50s;
}

.serverlist .header
{
	background-color: #6af;
	height: 15px;
	position: absolute;
	padding-top: 4px;
	font-size: 11px;
}

.serverlist .header ping, .serverlist .header maxplayers, .serverlist .header players, .serverlist .header map, .serverlist .header name, .serverlist .header rank, .serverlist .header gamemode
{
	font-size: 11px;
	font-weight: normal;
	color: #fff;
	/* text-align: center; */
	cursor: pointer;
}

@media screen and (min-width: 1280px)
{
	.serverlist .servers ping, .serverlist .servers maxplayers, .serverlist .servers players, .serverlist .servers map, .serverlist .servers rank, .serverlist .servers gamemode
	{
		font-size: 13px;
		margin-top: 4px;
	}

	.serverlist name
	{
		font-size: 13px;
		font-weight: bold;
		right: 380px;
		-webkit-transition: left 0.50s;
	}

	.serverlist gamemode
	{
		right: 295px;
		width: 100px;
	}

	.serverlist map
	{
		width: 130px;
	}

	.serverlist .header name
	{
		padding: 0;
	}
}


H1.menuheader
{
	color: white;
	margin-bottom: 0;
	text-shadow: 2px 2px 1px black;

}

H1.menuheader small
{
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

A.bglink
{
	color: white;
	font-weight: bold;
	background-color: rgba(0, 132, 255, 0.47);
	padding: 4px 10px;
	margin-top: 6px;
	margin-right: 12px;
	display: inline-block;
	font-size: 14px;
	float: right;
	border: 1px solid white;
	-webkit-transition: border 0.50s, background-color 0.50s;
}

A.bglink:hover
{
	background-color: rgba(124, 176, 255, 0.68);
	border: 1px solid #007dff;
	-webkit-transition: border 0.50s, background-color 0.50s;
}

.serverinfo
{
	position: absolute;
	top: 50px;
	bottom: 0px;
	width: 285px;
	right: 0px;
	background-color: rgba(250, 250, 250, 0.52);
	padding: 10px 15px;
	/* border-radius: 4px; */
	border: 1px solid;
	border-color: #2c87e0;
	border-width: 4px 0px 0px 0px;
}

.serverinfo name
{
	font-size: 16px;
	font-weight: bold;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	letter-spacing: -1px;
}

.serverinfo button
{
	width: 100%;
	font-size: 30px;
}

.serverinfo address
{
	text-align: left;
	font-size: 12px;
}

.serverinfo subinfo
{
	display: block;
	color: #444;
}

.serverinfo > div
{
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.serverinfo div.cell
{
	display: table-cell;
}

.serverinfo header
{
	display: table-row;
	height: 0;
}

.serverinfo players
{
	display: table-cell;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	/* border-radius: 4px; */
	overflow: auto;
	top: 2px;
}

.serverinfo footer
{
	display: table-row;
	height: 0;
	margin-top: 5px;
}

.serverinfo footer input[type=password]
{
	width: 100%;
	padding: 4px;
	margin-bottom: 5px;
}

.activeserver
{
	/* background-color: #FFA !important; */
	background-color: rgba(0, 74, 255, 0.14) !important;
	border-color: #2c87e0 !important;
	border-width: 0px 0px 0px 4px !important;
	-webkit-transition: border-width 0.20s, background-color 0.50s;
}

.activeserver name
{
	left: 10px !important;
	-webkit-transition: left 0.50s;
}

DIV.installgamemode
{
	/* margin-right: 320px; */
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
	/* background-color: #5AF; */
	text-align: center;
	color: white;
	padding: 5px;
	/* border-radius: 5px; */
	position: absolute;
	top: -15px;
	right: 320px;
	border: 2px solid white;
	z-index: 100;
	cursor: pointer;
	background: #5AF9 url( '../../img/gm_install32.png' ) no-repeat 6px center;
	padding-left: 36px;
	-webkit-transition: background-color 0.50s;
}

DIV.installgamemode:hover
{
	background-color: #7CF;
	-webkit-transition: background-color 0.50s;
}

SPAN.installgamemode
{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	background: #5AF url( '../../img/gm_install16.png' ) no-repeat 13px center;
	width: 42px;
}

SPAN.installgamemode:hover
{
	background-color: #7CF;
}

.server_gamemodes
{
	/* top: 64px;  */
	/* border: 5px solid white; */
	border: 1px solid;
	padding: 10px;
	border-color: #2c87e0;
	border-width: 4px 0px 0px 0px;
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	right: 0px;
}

@media screen and (min-width: 1280px)
{
	.server_gamemodes {
		margin: 0 auto;
		width: 95%;
		max-width: 3000px;
	}
}

.noplayers
{
	opacity: 0.4;
}
